<div class="row">
	<div class="col">
		<h4>Tracking</h4>
	</div>
</div>
<div class="card" style="width: 100%;">
	Person counter
	<div class="card-body">
		<table id="detection_data_table" class="table table-sm table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">First seen</th>
					<th scope="col">Last seen</th>
					<th scope="col">Total frames
					</th>
				</tr>
			</thead>
			<tbody id="tbody_person_counter">
			</tbody>
		</table>
	</div>
</div>
<script>
	const network_latency_data = [];
	const full_latency_data = []
	let fps = 0;
	setInterval(() => {
		clock.innerText = (fps).toFixed(1) + "fps " + new Date().toTimeString().split(' ')[0]
	}, 100)

	const options = {
		year: "numeric",
		month: "numeric",
		day: "numeric",
		hour: "numeric",
		minute: "numeric",
		second: "numeric",
		hour12: false,
		fractionalSecondDigits: 3

	}

	window.sseSubscriptions["tracks"] = window.sseSubscriptions["tracks"] || []
	window.sseSubscriptions["tracks"].push((m) => {

		fps = m.fps

		tbody_person_counter.replaceChildren()
		m.counters_data.person_counter.map(x => tbody_person_counter.appendChild(personCounterDataToTr(x)))


		full_latency_data.push(Date.now() - m.cam_ts)
		if (full_latency_data.length === 101) {
			full_latency_data.shift()
		}

		latency_results_value.innerText = ((full_latency_data.reduce((a, b) => a + b, 0)) / full_latency_data.length).toFixed(1) + " ms"

		network_latency_data.push(Date.now() - m.ts)
		if (network_latency_data.length === 101) {
			network_latency_data.shift()
		}
		network_latency_results_value.innerText = ((network_latency_data.reduce((a, b) => a + b, 0)) / network_latency_data.length).toFixed(1) + " ms"
	})

	function personCounterDataToTr(t) {
		/** @type {HTMLTableRowElement} */
		const tr = document.createElement("TR");
		/** @type {HTMLTableCellElement} */
		const thId = document.createElement("TH");
		/** @type {HTMLTableCellElement} */
		const tdFirstSeen = document.createElement("TD");
		/** @type {HTMLTableCellElement} */
		const tdLastSeen = document.createElement("TD");
		/** @type {HTMLTableCellElement} */
		const tdTotalFrames = document.createElement("TD");
		thId.setAttribute("scope", "row")
		thId.innerText = t[2]
		tdTotalFrames.innerText = t[3];
		tdFirstSeen.innerText = new Intl.DateTimeFormat('sv-SE', options).format(new Date(t[0]*1000));
		tdLastSeen.innerText = new Intl.DateTimeFormat('sv-SE', options).format(new Date(t[1]*1000));
		tr.appendChild(thId);
		tr.appendChild(tdFirstSeen);
		tr.appendChild(tdLastSeen);
		tr.appendChild(tdTotalFrames);
		return tr
	}
</script>
<br />