
<div class="row">
    <div class="col">
        <h4>Performance</h4>
    </div>
</div>
<div style="text-align:center">
<div class="row">
    <div class="col-6">
        {% include 'components/performance/chart-inference.html.jinja' %}
    </div>
    <div class="col-6">
        {% include 'components/performance/chart-cam-read.html.jinja' %}
    </div>
    <div class="col-6">
        {% include 'components/performance/chart-visualization.html.jinja' %}
    </div>
    <div class="col-6">
        {% include 'components/performance/chart-full-view.html.jinja' %}
    </div>
</div>
</div>