opencv-python
ultralytics
pyyaml
mypy
torch
torchvision
torchaudio
fastapi
sse_starlette
imutils
numpy
pygments
lapx>=0.5.2
litestream-bin
shapely
duckdb
pyiceberg[s3fs,duckdb,sql-sqlite]
chdb
fsspec
cramjam
pandas
fastparquet
getdaft
ipykernel