opencv-python
ultralytics
mypy
torch
fastapi
sse_starlette
numpy
pygments
shapely
duckdb
boto3
pyarrow
pylint
uvicorn
lap>=0.5.12
zephyr-rtsp
jupysql
duckdb-engine
rich
ipykernel
matplotlib
notebook
jupyter-client
pyzmq
bokeh
jupyter_bokeh
ipywidgets_bokeh
