<div style="min-width: 0;">
    <canvas id="chartGpuUsage" class="chart-canvas"></canvas>
    <script>

        const dataGpuUsage = {
            datasets: [
                {
                    label: "GPU usage",
                    data: [],
                    fill: false,
                    tension: 0.1,
                },
            ],
        };

        const ctxGpuUsage = document.getElementById('chartGpuUsage');

        const chartGpuUsage = new Chart(ctxGpuUsage, {
            type: 'line',
            data: dataGpuUsage,
            options: {

        events: [],
                legend: {
                    position: 'top',
                    labels: {
                        fontColor: 'white'
                    }
                },
                scales: {
                    x: {
                        type: 'timeseries',
                    },
                    y: {
                        ticks: {
                            // Include a dollar sign in the ticks
                            callback: function (value, index, ticks) {
                                return value + '%';
                            }
                        }
                    }
                }
                , plugins: {
                    title: {
                        display: true,
                        text: 'GPU usage'
                    }
                }
            }
        });

        const chartGpuUsageUpdate = () => {
            chartGpuUsage.update("none");
        }

        window.sseSubscriptions["gpu_powermetrics"] = window.sseSubscriptions["gpu_powermetrics"] || []
        window.sseSubscriptions["gpu_powermetrics"].push((m) => {
            const limit = (Date.now()) - 120000;
            chartGpuUsage.data.datasets[0].data.push([m.ts, m.gpu_powermetrics.active])
            chartGpuUsage.data.datasets[0].data = chartGpuUsage.data.datasets[0].data.filter(x => x[0] > limit)
            chartGpuUsageUpdate()
        })
    </script>
</div>