
<div class="row">
    <div class="col">
        <h4>Hardware</h4>
    </div>
</div>
<div style="text-align:center">
<div class="row">
    <div class="col">
        {% include 'components/hardware/chart-gpu-frequency.html.jinja' %}
    </div>
    <div class="col">
        {% include 'components/hardware/chart-gpu-usage.html.jinja' %}
    </div>
</div>
</div>