<div style="
    height: 100%;
    width: 100%;
">
    <canvas id="chartMeanDwellTime" class="chart-canvas"></canvas>
    <script>

        const dataMeanDwellTime = {
            datasets: [
                {
                    data: [],
                    fill: false,
                    label: 
                'Mean dwell',
      borderColor: window.colors[0],
      backgroundColor: window.colors[0],
                    
                }
            ],
        };

        const ctxMeanDwellTime = document.getElementById('chartMeanDwellTime');

        const chartMeanDwellTime = new Chart(ctxMeanDwellTime, {
            type: 'line',
            data: dataMeanDwellTime,
            options: {
                aspectRatio: 1.5,

                events: [],
                scales: {
                    x: {
                        type: 'time', // Enables time series on the x-axis
                        time: {
                        unit: 'second', // Adjust as needed: 'second', 'minute', 'hour', 'day', 'month', etc.
                            displayFormats: {
                                second: 'HH:mm:ss', // Format for the x-axis labels
                            },
                        },
                    },
                    y: {
                        ticks: {
                                beginAtZero: true,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, ticks) {
                                return window.formatDuration(value * 1000);
                            }
                        }
                    }
                }
                , plugins: {
      colorschemes: {

        scheme: 'brewer.Paired12'

      },
                    title: {
                        display: true,
                        text: 'Mean Dwell Time'
                    },
                    legend: {
                        display: true
                    }
                }
            }
        });

        const chartMeanDwellTimeUpdate = () => {
            chartMeanDwellTime.update("none");
        }
        window.addEventListener("sse", ({detail: m}) => {
            const now = Date.now();
            const limit = (now) - 120 * 60000;
            const data = m[4];
            chartMeanDwellTime.data.datasets[0].data.push([now, parseFloat(data.toFixed(2))]);
            chartMeanDwellTime.data.datasets[0].data = window.processBuckets(chartMeanDwellTime.data.datasets[0].data.filter(x => x[0] > limit));
            chartMeanDwellTimeUpdate();
        })
    </script>
</div>